# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.so
.venv/
venv/
env/

# ML artifacts
mlruns/
mlartifacts/
*.pkl
*.joblib
*.pt
*.onnx
models/

# DVC
/data/raw/
/data/processed/
.dvc/cache/
.dvc/tmp/

# Env / secrets
.env
.env.*
*.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log
logs/

# Docker
*.override.yml
